
[submodule "wp-content/plugins/klassifieds-for-woocommerce"]
	path = wp-content/plugins/klassifieds-for-woocommerce
	url = https://github.com/anito/klassifieds-for-woocommerce.git
[submodule "wp-content/plugins/klassifieds-for-woocommerce-pro"]
	path = wp-content/plugins/klassifieds-for-woocommerce-pro
	url = https://github.com/anito/klassifieds-for-woocommerce-pro.git
