#login h1 {
  height: 120px;
  padding: 0 0 30px;
}

#loginform,
#registerform {
  margin-top: 0px;
  margin-left: 0;
  padding: 46px 24px 34px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}

#registerform {
  margin-top: 30px;
}


