@font-face {
    font-family: "good-times-bad-times";
    src: url("./goodtimesbadtimes_900_normal.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}