@font-face {
    font-family: "adobe-handwriting-ernie";
    src: url("./handwriting_ernie_400_normal.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}