#wpbody {
  position: relative;
}
.wbp-ebay-main-header {
  margin: 40px 0 10px;
}
#head-wrap {
  margin-right: 20px;
  padding: 20px;
  display: flex;
}
.section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-sections {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
}
section#color-definitions {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#color-definitions .section-inner {
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ddd;
}
#head-wrap section .dashicons {
  margin-right: 10px;
}
#head-wrap .left-sections .section-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
#head-wrap .left-sections section:not(:last-child) .section-inner {
  border-right: 1px solid #eee;
}
#head-wrap .left-sections section {
  display: flex;
  padding: 20px;
}
#head-wrap .left-sections section:not(:first-child) {
  padding-left: 0px;
}
#head-wrap .left-sections section:not(:first-child) .section-inner {
  padding-left: 10px;
  padding-right: 30px;
}
#head-wrap .left-sections .wbp-shop-section {
  max-width: 220px;
}
#head-wrap .info-box li .dashicons {
  margin-right: 0.2em;
  display: inline;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.info-box li {
  color: #999;
  font-weight: 100;
  font-size: .8em;
}
#head-wrap .left-sections section h2 {
  margin: 5px 0 20px;
}
#head-wrap .left-sections section h2:first-child {
  margin-bottom: 20px;
}
#head-wrap .left-sections section h2 {
  margin-bottom: 10px;
}
.wbp-ebay-section .pagination {
  margin: 20px 0 0;
}
.wbp-ebay-section .pagination a {
  text-align: center;
  width: 50px;
  margin-right: 10px;
}
.wp-list-table {
  position: relative;
}
.wp-list-table::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.wp-list-table.loading::after {
  opacity: 0.3;
}
.wp-list-table.wp-list-ebay-ads,
.tablenav {
  margin-right: 20px;
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column.status.connected-publish,
.color-box.connected-publish {
  background-color: green;
}
.wp-list-table.wp-list-ebay-ads .column.status.disconnected-publish {
  background-color: rgb(104, 221, 135);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 5px,
    green 5px 10px
  );
}
.color-box.disconnected {
  background-color: rgb(56, 56, 56);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 2px,
    rgb(56, 56, 56) 2px 4px
  )
}
.wp-list-table.wp-list-ebay-ads .column.status.connected-draft,
.color-box.connected-draft {
  background-color: orange;
}
.wp-list-table.wp-list-ebay-ads .column.status.disconnected-draft,
.color-box.disconnected-draft {
  background-color: rgb(255, 207, 117);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 5px,
    orange 5px 10px
  );
}
.wp-list-table.wp-list-ebay-ads .column.status.invalid,
section .color-box.invalid {
  background-color: red;
}
.wp-list-table.wp-list-ebay-ads .column.status.connected-unknown,
.color-box.unknown {
  background-color: rgb(71, 71, 71);
}
section .color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 0;
  padding: 0;
}
section .description {
  font-size: 0.8em;
  line-height: 3em;
  padding-left: 10px;
  color: #000;
}
section .box-wrapper {
  display: flex;
  align-items: center;
}
section .box-wrapper .description {
  display: flex;
  align-items: center;
}
section .summary {
    display: flex;
    justify-content: space-between;
}
section .summary .count:nth-child(2) {
    margin-left: 10px;
}
.wp-list-table.wp-list-ebay-ads .manage-column[class*="status"],
.column[class*="column-status"] {
  width: 5px;
  min-width: 5px;
  padding: 0;
}
.wp-list-table.wp-list-ebay-ads .column-image {
  width: 120px;
}
.wp-list-table.wp-list-ebay-ads .column-id {
  width: 10%;
}
.wp-list-table.wp-list-ebay-ads .column-title {
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column-shop-actions {
  width: 140px;
}
.wp-list-table.wp-list-ebay-ads .column-actions {
  min-width: 130px;
  text-align: right;
}
.wp-list-table.wp-list-ebay-ads .column-date {
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column-price {
  width: 90px;
}
.wp-list-table.wp-list-ebay-ads .column-description {
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column-categories {
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column-brands {
  width: auto;
}
.wp-list-table.wp-list-ebay-ads .column-content {
  position: relative;
}
.wp-list-table.wp-list-ebay-ads .column.shop {
  background-color: rgb(193 227 250 / 12%);
}
.wp-list-table.wp-list-ebay-ads [id*="-wbp-action"] {
  position: relative;
}
.wp-list-table.wp-list-ebay-ads .column-content .spinner {
  position: absolute;
  left: -5px;
  top: 3px;
  margin: 0;
}
.wp-list-table.wp-list-ebay-ads .column-content a.button {
  text-align: center;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}
.wp-list-table.wp-list-ebay-ads .column-content .dashicons {
  font-size: 1em;
  display: inline-block;
  line-height: 1em;
  height: auto;
  vertical-align: baseline;
  pointer-events: none;
}
.wp-list-table.wp-list-ebay-ads .column-content .button .dashicons {
  font-size: 1.3em;
  line-height: 1.3em;
  vertical-align: middle;
}
.wp-list-table.wp-list-ebay-ads .column-content a[disabled],
.wp-list-table.wp-list-ebay-ads .column-content .button[disabled],
.wp-list-table.wp-list-ebay-ads .column-content a.busy,
.wp-list-table.wp-list-ebay-ads .column-content .button.busy {
  pointer-events: none;
}
.divider-bottom {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
