.wbp-kleinanzeigen-page {
  --publish: #1cc71c;
  --draft: orange;
  --unknown: #ff5b5b;
}
.wbp-kleinanzeigen-main-header {
  margin: 40px 0 10px;
}
#head-wrap {
  margin-right: 20px;
  padding: 20px;
  display: flex;
}
.section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-sections {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
}
section#color-definitions {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
}
#color-definitions .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffffe6;
  border-bottom-left-radius: 20px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ddd;
  box-shadow: 1px 0 24px 12px rgba(0, 0, 0, 0.2);
}
.status-wrapper {
  display: flex;
  flex-direction: column;
}
#head-wrap section .dashicons {
  margin-right: 10px;
}
#head-wrap .left-sections .section-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
#head-wrap .left-sections section:not(:last-child) .section-inner {
  border-right: 1px solid #eee;
}
#head-wrap .left-sections section {
  display: flex;
  padding: 20px;
}
#head-wrap .left-sections section:not(:first-child) {
  padding-left: 0px;
}
#head-wrap .left-sections section:not(:first-child) .section-inner {
  padding-left: 10px;
  padding-right: 30px;
}
#head-wrap .left-sections .wbp-shop-section {
  max-width: 220px;
}
#head-wrap .info-box li .dashicons {
  margin-right: 0.2em;
  display: inline;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.info-box li {
  color: #999;
  font-weight: 100;
  font-size: 0.8em;
}
#head-wrap .left-sections section h2 {
  margin: 5px 0 20px;
}
#head-wrap .left-sections section h2:first-child {
  margin-bottom: 20px;
}
#head-wrap .left-sections section h2 {
  margin-bottom: 10px;
}
.wbp-kleinanzeigen-section .pagination {
  margin: 20px 0 0;
}
.wbp-kleinanzeigen-section .pagination a {
  text-align: center;
  width: 50px;
  margin-right: 10px;
}
#kleinanzeigen-list {
  margin-right: 20px;
}
.wp-list-table {
  position: relative;
}
.wp-list-table::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.wp-list-table.loading::after {
  opacity: 0.3;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.connected-publish,
.color-box.connected-publish {
  background-color: var(--publish);
}
.color-box.status {
  align-self: center;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.disconnected-publish {
  background-color: var(--publish);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 5px,
    var(--publish) 5px 10px
  );
}
.color-box.disconnected {
  background-color: rgb(56, 56, 56);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 4px,
    rgb(185 185 185) 4px 8px
  );
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.connected-draft,
.color-box.connected-draft {
  background-color: var(--draft);
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.disconnected-draft,
.color-box.disconnected-draft {
  background-color: var(--draft);
  background-image: repeating-linear-gradient(
    -45deg,
    white 0 5px,
    var(--draft) 5px 10px
  );
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.invalid,
section .color-box.invalid {
  background-color: var(--unknown);
}
.wp-list-table.wp-list-kleinanzeigen-ads .column.status.connected-unknown,
.color-box.unknown {
  background-color: rgb(71, 71, 71);
}
section .color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  line-height: 1rem;
  padding: 3px;
  text-align: center;
  font-size: 0.9em;
  color: #fff;
}
section .color-box .inner {
  background: #ffffff;
  color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 99px;
  padding: 3px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .description {
  font-size: 0.8em;
  color: #000;
}
section .box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
section .box-wrapper .count {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
  margin-left: 10px;
  text-align: center;
}
section .box-wrapper .description {
  display: flex;
  align-items: center;
}
section .summary {
  display: flex;
  justify-content: space-between;
}
section .summary .count:nth-child(2) {
  margin-left: 10px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .manage-column[class*="status"],
.column[class*="column-status"] {
  width: 5px;
  min-width: 5px;
  padding: 0;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-image {
  width: 120px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-id {
  width: 10%;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-title {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-shop-actions {
  width: 140px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-shop-actions-import {
  width: 130px;
  padding-left: 30px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-empty {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-date {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-price,
.wp-list-table.wp-list-kleinanzeigen-ads .column-shop-price {
  width: 90px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-description {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-shop-categories {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-shop-brands {
  width: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content {
  position: relative;
}
.wp-list-table.wp-list-kleinanzeigen-ads [class*="column-shop-"] {
  background-color: rgb(193 227 250 / 12%);
}
.wp-list-table.wp-list-kleinanzeigen-ads [id*="-wbp-action"] {
  position: relative;
}
.wp-list-table.wp-list-kleinanzeigen-ads tr[class*="diff-"] {
  background-color: #ff00001e;
}
.wp-list-table.wp-list-kleinanzeigen-ads .diff-price .column[class*="-price"] {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.06em;
  text-decoration-color: red;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content .spinner {
  position: absolute;
  left: -25px;
  top: 3px;
  margin: 0;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content a.button {
  text-align: center;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 130px;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content .dashicons {
  font-size: 1em;
  display: inline-block;
  line-height: 1em;
  height: auto;
  vertical-align: baseline;
  pointer-events: none;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content .button .dashicons {
  font-size: 1.3em;
  line-height: 1.3em;
  vertical-align: sub;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content a[disabled],
.wp-list-table.wp-list-kleinanzeigen-ads .column-content .button[disabled],
.wp-list-table.wp-list-kleinanzeigen-ads td.busy a,
.wp-list-table.wp-list-kleinanzeigen-ads td.busy .button {
  pointer-events: none;
  cursor: auto;
}
.wp-list-table.wp-list-kleinanzeigen-ads .column-content a,
.wp-list-table.wp-list-kleinanzeigen-ads .column-content .button {
  cursor: pointer;
}
.divider-bottom {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.divider-top {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.indicator.indicator-publish {
  background-color: var(--publish);
}
.indicator.indicator-draft {
  background-color: var(--draft);
}
.indicator.indicator-unknown {
  background-color: var(--unknown);
}
.indicator {
  display: inline-block;
  width: 5px;
  height: 0.8em;
  margin-left: 10px;
}
section .summary-status {
  margin-bottom: -7px;
  justify-content: center !important;
  font-size: 0.8em;
  font-weight: 300;
}
section .summary-status .trigger {
  cursor: pointer;
} 
section .summary-status .outer {
  display: none;
}
section .summary-status .trigger .dashicons-arrow-down {
  display: none;
}
section .summary-status .trigger.active .dashicons-arrow-down {
  display: inline-block;
}
section .summary-status .trigger .dashicons-arrow-right {
  display: inline-block;
}
section .summary-status .trigger.active .dashicons-arrow-right {
  display: none;
}
section .summary-status .trigger.active ~ .outer {
  display: block;
}
.todo {
  display: flex;
}
.todo .title {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.todo {
  display: flex;
}
.todo .title {
  flex-basis: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.todo .reason {
  flex-basis: 30%;
  padding-left: 30px;
}
