#woocommerce-product-data .panel-wrap.product_data {
  display: flex;
}
.button > * {
  pointer-events: none;
}
/**
 * For edit-product screen (WP_Table_List)
 */
.edit-php .column-sync {
  width: 13%;
}
.edit-php .sync-column-content {
  display: flex;
  flex-direction: column;
}
.edit-php .sync-column-content .button:first-child {
  margin-right: 3px;
}
.edit-php .sync-column-content a {
  text-align: center;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
[id*="-wbp-action"] {
  position: relative;
}
[id*="-wbp-action"] .spinner {
  position: absolute;
}
.edit-php [id*="-wbp-action"] .spinner {
  left: -35px;
}
.post-php [id*="-wbp-action"] .spinner,
.post-new-php [id*="-wbp-action"] .spinner {
  left: -20px;
}
.post-php [id*="-wbp-action"],
.post-new-php [id*="-wbp-action"] {
  display: flex;
  justify-content: center;
}
.post-php .ebay-sync-action-button,
.post-new-php .ebay-sync-action-button {
  width: 180px;
  align-self: center;
}
.post-php.ebay-sync-active .ebay-sync-action-button,
.post-new-php.ebay-sync-active .ebay-sync-action-button {
  pointer-events: none;
  opacity: 0.85;
}
